src/*.exe
src/RajmudraCoind
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.RajmudraCoin
#compilation and Qt preprocessor part
*.qm
Makefile
RajmudraCoin-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
